:root {
  --foreground-color: red;
  --background-color: green;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(163, 163, 243);
}
h1 {
  margin-top: 10px;
  font-family: Courier, Trebuchet MS, Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 60pt;
  /*font-style: italic;*/
  color: rgb(177, 27, 27);
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.arrow {
  background-color: rgb(163, 163, 243);
  text-align: left;
  padding: 1vw 0 0 1vw;
}

.arrow button {
  background-color: rgb(163, 163, 243);
  border: 1px solid rgb(163, 163, 243);
}

#joinbutton:hover, #goBack:hover, #createbutton:hover, #howtoplaybutton:hover,#joinbutton:hover, img[id=ukimg], img[id=sweimg]:hover {
  cursor: pointer;
}
